#check {
  position: absolute;
  top: 20px;
  left: 5%;
  z-index: 7;
  .check {
    position: relative;
    &_icon {
      color: blue;
      position: absolute;
      top: 12px;
      left: 25px;
      z-index: 8;
    }
    &_input {
      line-height: 20px;
      font-size: 16px;
      transform: scale(0.8);
      height: 40px;
      width: 240px;
      padding: 5px;
      padding-left: 25px;
      border: 1px solid honeydew;
      border-radius: 20px;
      box-shadow: -3px 7px 23px 0px rgba(0,0,0,0.6);
      &:focus {
        outline: 0;
      }
    }
    &_submit {
      background-color: white;
      border: none;
      border-radius: 5px;
      position: absolute;
      top: 12px;
      left: 180px;
      &:hover {
        filter: brightness(80%);
      }
    }
    @media screen and ( max-width: 767px ){
      &_submit {
        position: absolute;
        top: 12px;
        left: 170px;
      }
    }
  }
}
