/* animation 設定 */
@keyframes slidein {
  0%{
    opacity: 0;
    transform:translateY(-150)
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.top {
  position: relative;
  &_opener {
  background-color: #666666;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  padding: 10px;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 3;
  cursor: pointer;
  }

  //mapページでもメニューがきちんと表示されるためにz-indexを10と11に設定
  &_menu {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #ACACAC;
    animation: slidein 1.0s;
    z-index: 10;
    &_closer {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      cursor: pointer;
      padding: 10px;
      position: fixed;
      top: 30px;
      right: 30px;
      z-index: 11;
    }
    &_lists {
      max-width: 600px;
      width: 70%;
      margin: 30px auto;
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      .link {
        text-align: center;
        border-bottom: 1px solid white;
        text-decoration: none;
        &_part {
          list-style: none;
          color: white;
          font-size: 18px;
          padding-top: 10px;
          padding-bottom: 5px;
        }
        &:hover {
          background-color: #ACACAC;
          opacity: 0.8;
        }
      }
      .component {
        padding-top: 10px;
        padding-bottom: 5px;
        list-style: none;
        text-align: center;
        border-bottom: 1px solid white;
        &_button {
          display: inline;
          height: 30px;
          width: auto;
          color: white;
          background-color: red;
          border: none;
          border-radius: 10px;
          font-weight: bold;
          opacity: 1.0;
          &:hover {
            opacity: 0.6;
          }
          &:focus {
            outline: none;
          }
        }
      }
      //Loginheaderのlogout用のcss
      .logout {
        text-align: center;
        border-bottom: 1px solid white;
        text-decoration: none;
        list-style: none;
        &_part {
          color: red;
          background-color: #ACACAC;
          width: 100%;
          cursor: pointer;
          font-size: 18px;
          padding-top: 10px;
          padding-bottom: 5px;
          border: none;
        }
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
